.page {
  min-width: 1100px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  margin: 30px 80px 0 0;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  margin-bottom: auto;
}

.header__title {
  max-width: 709px;
  margin: 0 0 28px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  order: 2;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  order: 3;
}

.header__span-accent {
  display: block;
  margin: 183px 0 0 80px;
  order: 1;
  max-width: 709px;
  font-family: "Noto serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  box-sizing: border-box;
  padding: 0 80px 40px;
  order: 4;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.content {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  color: #fff;
  margin: 100px 0 24px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px 80px;
  color: #fff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption-text {
  margin: 0;
}

.recipes__video-caption-duration {
  margin: 0;
}

.reservation {
  background: #d9e7ff url(../images/background_reservation.svg) no-repeat
    center/cover;
  text-align: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
  margin: 0 auto;
  padding: 0;
  max-width: 385px;
}

.form__label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px;
}

.form__input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.form__input:focus {
  border-color: #2f80ed;
  outline: none;
}

.form__button {
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
}

.form__checkbox-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 120px;
}

.form__checkbox-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
